{% extends 'base.html'%}

{% block content %}

<div class="col-mid-14 offset-md-0.5" >

    {% if user.is_authenticated %}

    <h1>Professor Details</h1>

    <div class="row">
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th>Professor ID</th>
                    <th>Name</th>
                    <th>Phone No</th>
                    <th>Email</th>
                    <th>Gender</th>
                    <th>Date of Joining</th>
                </tr>
                {% for professor in page_obj %}
                <tr>
                    <td>{{ professor.profid }}</td>
                    <td>{{ professor.name }}</td>
                    <td>{{ professor.phoneno }}</td>
                    <td>{{ professor.email }}</td>
                    <td>{{ professor.gender }}</td>
                    <td>{{ professor.dateofjoining }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

    <a href="{% url 'add_professor'%}" class="btn btn-primary"style="margin-left:1000px">Add Professor</a>

    <br/>


    {% else %}
    <h1>LOGIN</h1>
    <br/>
    <form method="POST" action="{% url 'home'%}">

        {% csrf_token %}
        
            <div class="mb-3">
            <input type="text" class="form-control" name="username" placeholder='Username' required>
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
            <input type="password" class="form-control" name="password" placeholder="Password" required>
            </div>
            <br/>
            <button type="submit" class="btn btn-secondary">Login</button>
        

    </form>

    {% endif %}

</div>


{% endblock %}
